body {
    background-color: #000;
    background-image: url(annie-spratt-yI3weKNBRTc-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;
    min-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1 {
    margin: 1rem 0;
    text-align: center;
}

h1, label, p {
    color: #000;
}

.warning {
    color: red;
    font-size: 1.5rem;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    max-width: 1000px;
}

.form-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: column;
    margin-right: 1rem;
    min-width: 310px;
}

.inner-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.gross-salary {
    font-size: 1.5em;
    font-weight: 600;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
}

.btn {
    margin-top: .5rem;
}

input, label, button {
    margin: .5rem;
}

.piechart-container {
    max-width: 600px;
    min-width: 550px;
    flex-grow: 4;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    margin-top: 1rem;
    border-collapse: collapse;
}

footer {
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 2rem;
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
}

footer p {
    font-weight: 600;
    font-size: 1.3em;
}


/* Media queries */
@media screen and (max-width: 900px) {
    body {
        background-repeat: repeat;
        overflow-y: auto;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }

    .piechart-container {
        max-width: 90%;
        margin: 3rem 0 2rem .5rem;
        padding-bottom: 4rem;
    }

    .form-container {
        display: flex;
        align-items: center;
        justify-content: center;  
    }

    footer {
        text-align: center;   
        left: 0;
    }
}

@media screen and (max-width: 550px) {
 
    #pieChart {
        max-width: 500px;
        max-height: 500px;
    }
} 
    


